<!DOCTYPE html> <!-- Sets document type to html -->
<html lang = "en"> <!-- Sets the language of the document to English -->

<head>  <!-- Head section of the HTML document -->

<link rel = "preconnect" href = "https://fonts.googleapis.com">
<link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
<link href = "https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel = "stylesheet">
<link href = "https://fonts.googleapis.com/css2?family=Sono:wght@200..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel = "stylesheet">


<meta charset = "UTF-8"> <!-- Sets character encoding to UTF-8 -->
<meta name = "viewport" content = "width = device-width, initial-scale = 1.0"> <!-- Sets viewport for responsive design -->
<title> Swedish frequency allocation </title> <!-- Title of the webpage -->
<link rel = "stylesheet" href = "static/data/styles.css"> <!-- Links to external CSS file for styling -->

</head> <!-- End of head section -->

<body> <!-- Body section of the HTML document -->

<header>

  <h1> Swedish frequency allocation </h1>
  <h2 class = "subtitle"> By Vitus and Hanna </h2>

</header>

<div class = "container">

  <div class = "image-container">

    <img id = "spectrum" src = "static/data/images/spectrum1.png" alt = "Frequency Spectrum"> <!-- Frequency spectrum image -->

    <div id = "highlight-overlay"> </div>

  </div>

  <nav class = "side-menu">

    <button data-index = "0" > 0 - 600 GHz </button>
    <button data-index = "1" > 0 - 50 GHz </button>
    <button data-index = "2" > 0 - 12 500 MHz </button>
    <button data-index = "3" > 0 - 3 125 MHz </button>
    <button data-index = "4" > 0 - 782 MHz </button>
    <button data-index = "5" > 0 - 195 MHz </button>
    <button data-index = "6" > 0 - 49 MHz </button>
    <button data-index = "7" > 0 - 12.2 MHz </button>

  </nav>

  <img id = "preview-image" src = "" alt = "Preview" />

</div>

<script src = "static/data/script.js"></script> <!-- Links to external JavaScript file for functionality -->

</body> <!-- End of body section -->

</html> <!-- End of HTML document -->